/* Apply Roboto font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Background Image for About Us Section */
.about-us {
    color: black;
}

.about-header {
    padding: 20px;
    background-image: url('{% static "images/about_us.jpg" %}');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Shadow for readability */
}

.card {
    margin: 20px 0;
}

.card-title {
    color: #FFA500; /* Orange color for headings */
    font-weight: 700;
}

.card-text {
    color: black;
}

/* Team Section Styling */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    margin: 10px;
    text-align: center;
    width: 200px;
}

.team-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Dropdown for Anthem */
.collapse {
    margin-top: 10px;
}

.collapse p {
    font-size: 1.2rem;
    color: black;
}

