{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <h1>Register Child</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>Parent Information</h2>
        {{ parent_form.as_p }}  <!-- Render parent form fields -->
        
        <h2>Child Information</h2>
        {{ child_form.as_p }}  <!-- Render child form fields -->

        <!-- Add a hidden input field for child_id if it's not part of the form fields -->
        <input type="hidden" name="child_id" value="{{ child.id }}">

        <button type="submit">Register</button>
    </form>

</body>

{% endblock %}
