{% extends "base_staff.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap5 %}

{% block stylesheets %}
    {{ block.super }}  <!-- This includes the CSS from the base.html -->
    <link rel="stylesheet" href="{% static 'benedict_school/css/staff_form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block staff_content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>{{ title }}</h2>
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

